<div class="footer">
  <div class="w">
    <div class="links">
      <a class="link" href="https://www.amazon.ca/" target="_blank">Amazon</a>|
      <a class="link" href="https://ca.shop.com/" target="_blank">SHOP</a>|
      <a class="link" href="https://www.bestbuy.ca/en-ca" target="_blank"
        >BestBuy</a
      >|
      <a class="link" href="https://v0.material-ui.com/#/" target="_blank"
        >MaterialUi</a
      >
    </div>
    <p class="copyright">Copyright © 2019 happymall.com All Right Reserved</p>
  </div>
</div>
