<div class="header">
  <div class="w">
    <a class="logo" href="./index.html">HMall</a>
    <div class="search-con">
      <input
        class="search-input"
        id="search-input"
        placeholder="Search Shopping Mall"
      />
      <button class="btn search-btn" id="search-btn">Search</button>
    </div>
  </div>
</div>
