<div class="nav">
  <div class="w">
    <div class="user-info">
      <!-- left side  -->
      <!-- not login -->
      <span class="user not-login">
        <span class="link js-login">Login</span>
        <span class="link js-register">Register</span>
      </span>
      <!-- login -->
      <span class="user login">
        <span class="link-text">
          Welcome,<span class="username"></span>
        </span>
        <span class="link js-logout">Logout</span>
      </span>
    </div>

    <!-- right side -->
    <ul class="nav-list">
      <li class="nav-item">
        <a class="link" href="./cart.html">
          <i class="fa fa-shopping-cart"></i>
          Shopping Cart(<span class="cart-count">0</span>)
        </a>
      </li>
      <li class="nav-item">
        <a class="link" href="./order-list.html">My Orders</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./user-center.html">My MMall</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./about.html">About</a>
      </li>
    </ul>
    
  </div>
</div>
